<!DOCTYPE html>
<html>
    <head>
        <title>Book Your Sport</title>
    </head>
    <body>
        <div class="home-video-wrapper">
            <%= video_tag "foot_bg_jumbotron.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video" %>
        </div>
        <!-- JUMBOTRON START -->
        <!-- <div class="jumbotron"> -->
        <div class="container">
            <div class="vertical-center">
                <h1 class="display-2 home">Book Your Sport</h1>
                <p class="lead text-center">Réserve ton terrain en quelques clics!</p>
                <hr class="my-4">
                <form action=<%=timeslots_path %>
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <fieldset>
                        <select id="sport_element" onchange="getSelectValue();"class="custom-select" style="width:300px; margin:10px;">
                            <option selected="">Choisis ton sport</option>
                            <option value="Football">Football</option>
                            <option value="Basket-ball">Basket-ball</option>
                            <option value="Volley-ball">Volley-ball</option>
                        </select>
                        <select>
                            <input id="date_element"  type="date" name="date" onchange="getSelectValue();">
                        </select>
                        <select>
                            <input id="time_element" type="time" name="time" onchange="getSelectValue();">
                        </select>
                        <select id="ville_element" onchange="getSelectValue();"class="custom-select" style="width:300px;">
                            <option value="Paris">Paris</option>
                            <option value="Lyon">Lyon</option>
                            <option value="Marseille">Marseille</option>
                        </select>
                        <input type="submit" name="envoyer" value="Trouver une salle" class="btn btn-success btn-lg" onclick="process()"/>

                        
                    </form>
                </fieldset>
            </div>
        </div>
        <div>
            <span id="sportType"></span>
            <span id="date"></span>
            <span id="time"></span>
            <span id="sportType"></span>
            <span id="villesss"></span>
        </div>
        <!-- </div> -->
        <!-- JUMBOTRON END -->
    </body>
    <script>
    function getSelectValue()
    {
    var sportType = document.getElementById("sport_element").value;console.log(sportType);
    var date = document.getElementById("date_element").value;
    console.log(date);
    var time = document.getElementById("time_element").value;
    console.log(time);
    var ville = document.getElementById("ville_element").value;
    console.log(ville);
    
    }
    function process()
    {
    var sportType = document.getElementById("sport_element").value;
    
    var date = document.getElementById("date_element").value;
    var time = document.getElementById("time_element").value;
    
    var ville = document.getElementById("ville_element").value;
    
    display_values(ville, date, time, sportType);
    
    }
    function display_values(villes, date, time, sportType)
    {
    document.getElementById("villesss").innerHTML = villes
    console.log(document.getElementById("villesss") )
    document.getElementById("sportType").innerHTML =sportType
    console.log(document.getElementById("sportType") )
    document.getElementById("date").innerHTML = date
    console.log(document.getElementById("date") )
    document.getElementById("time").innerHTML = time
    console.log(document.getElementById("time") )
    }
    
    </script>
</html>