<!DOCTYPE html>
<html>

<head>
    <title>Book Your Sport</title>
</head>

<body>

    <div class="jumbotron">
        <h1 class="display-2">Book Your Sport</h1>
        <p class="lead text-center">Réserve ton terrain en quelques clics!</p>
        <hr class="my-4">
        <form action=< %=t imeslots_path %> method="GET">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <select class="custom-select" style="width:300px; margin:10px;">
          <option value="0">Football</option>
          <option value="1">Basket-ball</option>
          <option value="2">Volley-ball</option>
        </select>
            <input type="date" name="date">
            <input type="time" name="time">
            <select class="custom-select" style="width:300px;">
          <option value="0">Paris</option>
          <option value="1">Lyon</option>
          <option value="2">Marseille</option>
        </select>
            <input type="submit" value="Trouver une salle" class="btn btn-warning btn-lg">
        </form>
    </div>


</body>

<script>
    function getSelectValue() {
        var selectedValue = document.getElementById("sport_element").value;
        console.log(selectedValue);


        var selectedValue = document.getElementById("date_element").value;
        console.log(selectedValue);



        var selectedValue = document.getElementById("ville_element").value;
        console.log(selectedValue);
    }


    function process() {
        var selectedValue = document.getElementById("sport_element").value;
        console.log(selectedValue);
        innerHTML = 5 + 6;

        var selectedValue = document.getElementById("date_element").value;
        console.log(selectedValue);

        var selectedValue = document.getElementById("ville_element").value;
        console.log(selectedValue);
    }
</script>

</html>